<div class="container">

    <div class="row card">
    
        <div class="col main-col">
            <div class="title">
                Personal Data
            </div>

            <div class="row">
                <div class="col-4">
                    Name:
                </div>

                <div class="col-8 text-right">
                    Juan F. Arenas
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Email:
                </div>

                <div class="col-8 text-right">
                    jf.arenas30@ciaf.edu.co
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Phone:
                </div>

                <div class="col-8 text-right">
                    +57 3115509915
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Age:
                </div>

                <div class="col-8 text-right">
                    24
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Adress:
                </div>
                <div class="col-8 text-right">
                    Dg 26 # 15-38 Dosquebradas
                </div>
            </div>
            

            <div class="title">
                Repos
            </div>
            <div class="repos">
                <a  href="https://github.com/arenasjuanf" target="_blank">
                    GitHub
                </a>
                <a href="https://gitlab.com/juanfa107" target="_blank">
                    GitLab
                </a>
            </div>
           
        </div>
       
    </div>
</div>
