:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        .card{
            height: 310px;
            width: 380px;
            margin: auto;
            border-radius: 10px;
            -webkit-box-shadow: -1px 0px 49px 2px rgba(0,0,0,0.62);
            -moz-box-shadow: -1px 0px 49px 2px rgba(0,0,0,0.62);
            box-shadow: -1px 0px 49px 2px rgba(0,0,0,0.62);
            .title{
                text-align: center;
                font-family: 'TT Supermolot Neue';
                background-color: #f8f8f8;
                /* width: 100%; */
                margin-top: 10px;
            }
            .col{
                .row{
                    border-bottom: 1px solid #eaeaea;
                }
            }
            .main-col{
                display: flex;
                justify-content: center;
                flex-direction: column;

                .repos{
                    display: flex;
                    justify-content: center;
                    height: 50px;
                    a{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;
                        width: 50%;
                        height: 100%;
                        border: 1px solid #f8f8f8;
                        font-family: 'TT Supermolot Neue';
                        text-decoration: none;
                        color: #000000;
                    }
                    a:hover{
                        background-color: #f8f8f8;
                        cursor: pointer;
                    }

                    :nth-child(1){
                        border-radius: 0px 0px 0px 15px;
                    }
                    :nth-child(2){
                        border-radius: 0px 0px 15px 0px;
                    }
                    
                }
            }
        }
    }   


}
