:host {
    display: block;
    width: 100%;

    .footer{
        margin-top: 15px;
        text-align: center;
        background-color: #F8F8F8;
        height: 70px;
        
        img{
            height: 70%;
        }
    }
}