:host {
    display: block;
    width: 100%;
    background-color: #F8F8F8;

    .active{
        border: 1px solid;
        border-radius: 5px;
    }

    .navbar{
        height: 70px;
        width: 95%;
        margin: auto;
        display: flex;
        img{
            height: 90%;
        }

        .options{
            ul{
                display: flex;
                list-style: none;
                li{
                    padding: 3px;
                    margin: 10px;
                }
                li:hover{
                    cursor: pointer;
                }
            }
        }
    }   
}