
<div class="navbar">
    <img [src]="logo" alt="Dev E-con" (click)="getMore()">

    <div class="options">
        <ul>
            <li *ngFor="let opt of options" [routerLink]="opt.route" routerLinkActive="active">
                {{ opt.title}}
            </li>
        </ul>
    </div>
    
</div>