<div class="container">
    <div class="row mt-2" *ngIf="dataHero">
        <div class="col-12 image col-md-4">
            <img [src]="dataHero?.images?.md" alt="">
        </div>

        <div class="col-12 col-md-8 info mt-3">
            <div class="row">
                <div class="title">
                    <h2> {{ dataHero?.name | titlecase }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="section col-10">
                    <div class="col title">
                        Power Stats
                    </div>
                    <div class="items" *ngFor="let item of keys(dataHero?.powerstats)">
                        <div class="item">
                            {{ item |  titlecase }}:
                        </div>
                        <div class="value">
                            {{ dataHero.powerstats[item] }}
                        </div>
                    </div>
                </div>
                <div class="section col-10">
                    <div class="col title">
                        Biography
                    </div>
                    <div class="items" *ngFor="let item of keys(dataHero?.biography)">
                        <div class="item">
                            {{ item |  titlecase }}:
                        </div>
                        <div class="value">
                            {{ dataHero.biography[item] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
