:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;

    .image{
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
            width: 100%;
            border-radius: 10px;
            -webkit-box-shadow: 3px 10px 19px 5px rgba(0,0,0,0.51);
            -moz-box-shadow: 3px 10px 19px 5px rgba(0,0,0,0.51);
            box-shadow: 3px 10px 19px 5px rgba(0,0,0,0.51);
        }
    }    

    .info{
        .title{
            width: 100%;
            text-align: center;
            font-family: 'TT Supermolot Neue';
            color: #0744a6;
        }

        .section{
            margin: auto;
            margin-top: 10px;
            .title{
                border-radius: 5px;
                background-color: #f8f8f8;
                font-family: 'TT Supermolot Neue';
                color: #0744a6;
            }
            .items{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #c1b7b7;
                .value{
                    font-weight: bold;
                }
            }
        }

    }


}