:host {
    display: block;
    width: 100%;

    .main-root{
        height: 100%;
        overflow: hidden;
        .info{
            overflow-y: scroll;
            overflow-x: hidden;
            height: calc( 100% - 140px );
        }
    }
    
}  
