<div class="">
    <header>
        <input #searchInput class="form-control" type="text" placeholder="Search Character..." >
        <div class="text-center">
            <small>Click in dev e-con logo on navbar to show different characters  </small>
        </div>
    </header>

    <div class="body">
        <div class="card-container" *ngIf="showInfo">
            <div class="card" *ngFor="let hero of heroes" (click)="goToHero(hero.id)">
                <img class="card-img-top" [src]="hero.image" [alt]="hero.name">
                <div class="card-body">
                    <h5 class="title">{{ hero.name | titlecase }}</h5>
                    <div class="details">
                        <span>Intelligence: 
                            <b>{{ hero.info.intelligence | haveValue }}</b>
                        </span>
                        <span>Speed: 
                            <b>{{ hero.info.speed | haveValue}}</b>
                        </span>
                        <span>Power: 
                            <b>{{ hero.info.power | haveValue}}</b>
                        </span>
                        <span>Gender: 
                            <b>{{ hero.info.gender | haveValue}}</b>
                        </span>
                        <span>Race: 
                            <b>{{ hero.info.race | haveValue}}</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="" *ngIf="!showInfo">
            <img class="card-img-top" src="https://webmarketingschool.com/wp-content/uploads/2018/03/nojobsfound.png">
        </div>
    </div>
    

</div>