:host {
    display: block;
    width: 100%;
    height: 100%;

    header{
        margin-top: 40px;
        margin-bottom: 20px;
        input{
            width: 60%;
            margin: auto;
        }
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        margin-bottom: 75px;
        .card{
            margin-top: 20px !important;
            margin: auto;
            width: 260px;
            border-radius: 10px;

            img{
                width: 60%;
                margin: auto;
            }
            .title{
                text-align: center;
                color: #0044A6;
            }
            .details{
                display: flex;
                flex-direction: column;
            }

            .card-body{
                .title{
                    font-size: 26px;
                    font-family: 'TT Supermolot Neue';
                }
                .details .span{
                    font-size: 16px;
                }
            }
        }
        .card:hover{
            cursor: pointer;
            background-color: #f8f8f8;
        }
    }

}


