/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Expanded DemiBold'), local('TT-Supermolot-Neue-Expanded-DemiBold'),
        url('../src/assets/fonts/TTSupermolotNeue-ExpDBold.woff2') format('woff2'),
        url('../src/assets/fonts/TTSupermolotNeue-ExpDBold.woff') format('woff'),
        url('../src/assets/fonts/TTSupermolotNeue-ExpDBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;

  app-root{
    height: 100%;
  }
}